html {
  background-color: #27006F;
  color: #E9E5FE;
  font-family: sans-serif;
}

.container,
.inputs,
.log,
.logs,
.log-items,
.log-winners,
.log-item, 
.log-winner-player,
.log-winner-computer,
.log-winner-draw {
  display: flex;
}

.container,
.log,
.log-items,
.log-winners {
  flex-direction: column;
}

.container,
.log,
.log-items,
.log-winners,
.log-item, 
.log-winner-player,
.log-winner-computer,
.log-winner-draw {
  align-items: center;
}

.container {
  margin: 16px 32px;
}

.inputs {
  justify-content: space-around;
  width: 50%;
}

.option {
  width: 125px;
}

.log {
  margin-top: 24px;
  padding: 24px;
  border: solid 1px black;
  width: 50rem;
  background-color: #1A2B56;
}

.logs {
  justify-content: center;
  gap: 14rem;
}

.log-items,
.log-winners {
  gap: 2rem;
}

.log-item, 
.log-winner-player,
.log-winner-computer,
.log-winner-draw {
  height: 60px;
}

.log-winner-player,
.player-good {
  color: #00F931;
}

.log-winner-computer,
.computer-bad {
  color: #F76F72;
}

.log-winner-draw {
  color: Lightgray;
}

.reset-button {
  background-color: #1A2B56;
  color: White;
  border: 1px solid Black;
  border-radius: 8px;
  padding: 8px 46px;
  font-weight: bold;
}
